
.about-me {
    width: 100%;
}

/**
 * Columns
 **/
 .about-me-col-1, .about-me-col-2 {
 	padding: $spacing-unit $spacing-unit;
 	box-sizing: border-box;
 }
 
 .about-me-col-1 {
 	float: left;
 	width: 30%;
 	
 }
 
 .about-me-col-2 {
 	float: right;
 	width: 70%;
 }
 
 