/**
* Page headings
*/

.skills-heading, .jobs-heading, .education-heading, .projects-heading, 
.contact-me-heading{
    font-size: 2em;
    margin-bottom: 1.5em;
    text-align: center;
}
.education-heading {
	margin-bottom: 0.8em;
}
.about-me-heading {
    font-size: 2.25em;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
}
.about-me-subtitle {
	font-size: 1.5em;
	margin-top: 1em;
}
.about-me-col-1 {
	> h3 {
		margin-bottom: 0;
	}
	> p {
		font-size: 1.1em;
		padding-left: 1em;
	}
}
/**
*	Page lists
*/
.skills-list, .jobs-list, .projects-list {
    margin: 0 5%;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        
    	> h2, i {
    		font-size: 1.5em;
    		line-height: 1.5em;
    		margin-bottom: 0px;
    	}
    
    	> p {
	    	font-size: 1em;
	    	text-align: justify;
	    }
    }
}

.jobs-list {
	> li {
		> p {
		    list-style:disc outside none;
     		display: list-item;
     		margin-left: 2em; 
		}
	}
}

.education-list {
	margin: 0 5%;
	
	> li {
		margin-left: 2em;
	}
}

.contact-me-option-list {
	list-style: none;
	max-width: 300px;
	margin: auto;
		
	> li {
		margin-bottom: $spacing-unit;
		
		> i, a, span {
			line-height: 64px;
			vertical-align: middle;
		}

		> i {
			width: 55px;
			font-size: 3em;
			text-align:center
		}
		
		> a, span {
			padding-left: 0.25em;
			font-size: 1.25em;
		}
	}
}

/**
* Others
*/
.job-dates {
	font-weight: 600;
}

.github-redirect {
	text-align: center;
	> i, span {
		line-height: 50px;
		vertical-align: middle;
	}
	> i {
		font-size: 1.8em;
	}
	> span {
		font-size: 1.2em;
		padding-left: 0.25em;
	}
	margin-bottom: 2em;
	margin-top: -1em;
}
